기준금리 크롤링

In [1]:
import requests
import datetime
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

base_url= "https://www.bok.or.kr/portal/singl/baseRate/list.do?dataSeCd=01&menuNo=200643"
response = requests.get(base_url, 'html.parser')
soup= BeautifulSoup(response.text, 'lxml')

In [2]:
dict_list= []
# 53
for i in range(53):
    dict_list.append({
        'date': pd.to_datetime(datetime.datetime.strptime(soup.find_all('td')[3*i].text + soup.find_all('td')[3*i+1].text, '%Y%m월 %d일')),
        'RATE': float(soup.find_all('td')[3*i+2].text)
    })

In [3]:
pd_result= pd.DataFrame(dict_list)

# date range 일별 추가
idx= pd.date_range(pd_result.date.min(), pd_result.date.max())
idx= pd.Series(idx)

In [4]:
# 없는 행에 Nan을 넣어 병합한 후 Nan값을 이전 값으로 메꾸기
baserate= pd.concat([pd.DataFrame({'date': idx[~idx.isin(pd_result.date)], 'RATE': np.nan}),pd_result]).sort_values('date').reset_index(drop=True).ffill(axis=0)

In [5]:
baserate

           date  RATE
0    2000-02-10  5.00
1    2000-02-11  5.00
2    2000-02-12  5.00
3    2000-02-13  5.00
4    2000-02-14  5.00
...         ...   ...
8319 2022-11-20  3.00
8320 2022-11-21  3.00
8321 2022-11-22  3.00
8322 2022-11-23  3.00
8323 2022-11-24  3.25

[8324 rows x 2 columns]

In [6]:
baserate = baserate.merge(baserate.assign(date = baserate.date+pd.Timedelta(days=30)), 
               on='date',
               how='left', suffixes=['', '_30days'])

In [7]:
baserate.dropna(inplace=True)

In [8]:
baserate

           date  RATE  RATE_30days
30   2000-03-11  5.00          5.0
31   2000-03-12  5.00          5.0
32   2000-03-13  5.00          5.0
33   2000-03-14  5.00          5.0
34   2000-03-15  5.00          5.0
...         ...   ...          ...
8319 2022-11-20  3.00          3.0
8320 2022-11-21  3.00          3.0
8321 2022-11-22  3.00          3.0
8322 2022-11-23  3.00          3.0
8323 2022-11-24  3.25          3.0

[8294 rows x 3 columns]

In [9]:
baserate['change'] = np.select(
    condlist=[
        (baserate.RATE > baserate.RATE_30days), 
        (baserate.RATE == baserate.RATE_30days),
    ], 
    choicelist=[
        1,
        0,
    ],
    default=-1
)

In [10]:
baserate

           date  RATE  RATE_30days  change
30   2000-03-11  5.00          5.0       0
31   2000-03-12  5.00          5.0       0
32   2000-03-13  5.00          5.0       0
33   2000-03-14  5.00          5.0       0
34   2000-03-15  5.00          5.0       0
...         ...   ...          ...     ...
8319 2022-11-20  3.00          3.0       0
8320 2022-11-21  3.00          3.0       0
8321 2022-11-22  3.00          3.0       0
8322 2022-11-23  3.00          3.0       0
8323 2022-11-24  3.25          3.0       1

[8294 rows x 4 columns]

In [11]:
baserate.to_csv('./baserate.csv')

콜금리

In [12]:
call_url= "https://finance.naver.com/marketindex/interestDailyQuote.nhn?marketindexCd=IRR_CALL&page={}"
page_num= 622 # 2005년 5월~

In [13]:
call_list= []

for i in range(1,page_num+1):
    call_list.append(BeautifulSoup(requests.get(call_url.format(i), 'html.parser').text,'lxml').find_all('td'))

In [14]:
result_list= []

for list in call_list:
    
    for i in range(len(list)//4):
        result_list.append({
            'date': list[4*i].text.strip(),
            'RATE': float(list[4*i+1].text)
        })

In [15]:
result_list

[{'date': '2022.11.23', 'RATE': 3.08},
 {'date': '2022.11.22', 'RATE': 3.07},
 {'date': '2022.11.21', 'RATE': 3.04},
 {'date': '2022.11.18', 'RATE': 3.02},
 {'date': '2022.11.17', 'RATE': 3.02},
 {'date': '2022.11.16', 'RATE': 3.03},
 {'date': '2022.11.15', 'RATE': 3.03},
 {'date': '2022.11.14', 'RATE': 3.07},
 {'date': '2022.11.11', 'RATE': 3.07},
 {'date': '2022.11.10', 'RATE': 3.09},
 {'date': '2022.11.09', 'RATE': 2.98},
 {'date': '2022.11.08', 'RATE': 2.99},
 {'date': '2022.11.07', 'RATE': 2.97},
 {'date': '2022.11.04', 'RATE': 2.99},
 {'date': '2022.11.03', 'RATE': 3.04},
 {'date': '2022.11.02', 'RATE': 3.03},
 {'date': '2022.11.01', 'RATE': 3.08},
 {'date': '2022.10.31', 'RATE': 3.19},
 {'date': '2022.10.28', 'RATE': 3.04},
 {'date': '2022.10.27', 'RATE': 3.07},
 {'date': '2022.10.26', 'RATE': 3.12},
 {'date': '2022.10.25', 'RATE': 3.14},
 {'date': '2022.10.24', 'RATE': 3.13},
 {'date': '2022.10.21', 'RATE': 3.1},
 {'date': '2022.10.20', 'RATE': 3.13},
 {'date': '2022.10.19', 'RATE': 3.07},
 {'date': '2022.10.18', 'RATE': 3.08},
 {'date': '2022.10.17', 'RATE': 3.05},
 {'date': '2022.10.14', 'RATE': 3.07},
 {'date': '2022.10.13', 'RATE': 3.12},
 {'date': '2022.10.12', 'RATE': 3.11},
 {'date': '2022.10.11', 'RATE': 2.78},
 {'date': '2022.10.07', 'RATE': 2.68},
 {'date': '2022.10.06', 'RATE': 2.55},
 {'date': '2022.10.05', 'RATE': 2.51},
 {'date': '2022.10.04', 'RATE': 2.54},
 {'date': '2022.09.30', 'RATE': 2.8},
 {'date': '2022.09.29', 'RATE': 2.54},
 {'date': '2022.09.28', 'RATE': 2.53},
 {'date': '2022.09.27', 'RATE': 2.52},
 {'date': '2022.09.26', 'RATE': 2.53},
 {'date': '2022.09.23', 'RATE': 2.54},
 {'date': '2022.09.22', 'RATE': 2.53},
 {'date': '2022.09.21', 'RATE': 2.55},
 {'date': '2022.09.20', 'RATE': 2.52},
 {'date': '2022.09.19', 'RATE': 2.5},
 {'date': '2022.09.16', 'RATE': 2.51},
 {'date': '2022.09.15', 'RATE': 2.5},
 {'date': '2022.09.14', 'RATE': 2.51},
 {'date': '2022.09.13', 'RATE': 2.52},
 {'date': '2022.09.08', 'RATE': 2.61},
 {'date': '2022.09.07', 'RATE': 2.49},
 {'date': '2022.09.06', 'RATE': 2.4},
 {'date': '2022.09.05', 'RATE': 2.43},
 {'date': '2022.09.02', 'RATE': 2.51},
 {'date': '2022.09.01', 'RATE': 2.5},
 {'date': '2022.08.31', 'RATE': 2.54},
 {'date': '2022.08.30', 'RATE': 2.42},
 {'date': '2022.08.29', 'RATE': 2.42},
 {'date': '2022.08.26', 'RATE': 2.42},
 {'date': '2022.08.25', 'RATE': 2.44},
 {'date': '2022.08.24', 'RATE': 2.28},
 {'date': '2022.08.23', 'RATE': 2.21},
 {'date': '2022.08.22', 'RATE': 2.21},
 {'date': '2022.08.19', 'RATE': 2.24},
 {'date': '2022.08.18', 'RATE': 2.2},
 {'date': '2022.08.17', 'RATE': 2.17},
 {'date': '2022.08.16', 'RATE': 2.17},
 {'date': '2022.08.12', 'RATE': 2.24},
 {'date': '2022.08.11', 'RATE': 2.21},
 {'date': '2022.08.10', 'RATE': 2.21},
 {'date': '2022.08.09', 'RATE': 2.24},
 {'date': '2022.08.08', 'RATE': 2.22},
 {'date': '2022.08.05', 'RATE': 2.24},
 {'date': '2022.08.04', 'RATE': 2.22},
 {'date': '2022.08.03', 'RATE': 2.16},
 {'date': '2022.08.02', 'RATE': 2.19},
 {'date': '2022.08.01', 'RATE': 2.23},
 {'date': '2022.07.29', 'RATE': 2.34},
 {'date': '2022.07.28', 'RATE': 2.14},
 {'date': '2022.07.27', 'RATE': 2.11},
 {'date': '2022.07.26', 'RATE': 2.22},
 {'date': '2022.07.25', 'RATE': 2.18},
 {'date': '2022.07.22', 'RATE': 2.18},
 {'date': '2022.07.21', 'RATE': 2.2},
 {'date': '2022.07.20', 'RATE': 2.17},
 {'date': '2022.07.19', 'RATE': 2.19},
 {'date': '2022.07.18', 'RATE': 2.17},
 {'date': '2022.07.15', 'RATE': 2.17},
 {'date': '2022.07.14', 'RATE': 2.19},
 {'date': '2022.07.13', 'RATE': 2.04},
 {'date': '2022.07.12', 'RATE': 1.83},
 {'date': '2022.07.11', 'RATE': 1.82},
 {'date': '2022.07.08', 'RATE': 1.73},
 {'date': '2022.07.07', 'RATE': 1.74},
 {'date': '2022.07.06', 'RATE': 1.73},
 {'date': '2022.07.05', 'RATE': 1.68},
 {'date': '2022.07.04', 'RATE': 1.66},
 {'date': '2022.07.01', 'RATE': 1.72},
 {'date': '2022.06.30', 'RATE': 2.33},
 {'date': '2022.06.29', 'RATE': 1.8},
 {'date': '2022.06.28', 'RATE': 1.82},
 {'date': '2022.06.27', 'RATE': 1.82},
 {'date': '2022.06.24', 'RATE': 1.84},
 {'date': '2022.06.23', 'RATE': 1.75},
 {'date': '2022.06.22', 'RATE': 1.71},
 {'date': '2022.06.21', 'RATE': 1.71},
 {'date': '2022.06.20', 'RATE': 1.71},
 {'date': '2022.06.17', 'RATE': 1.73},
 {'date': '2022.06.16', 'RATE': 1.69},
 {'date': '2022.06.15', 'RATE': 1.66},
 {'date': '2022.06.14', 'RATE': 1.69},
 {'date': '2022.06.13', 'RATE': 1.73},
 {'date': '2022.06.10', 'RATE': 1.74},
 {'date': '2022.06.09', 'RATE': 1.79},
 {'date': '2022.06.08', 'RATE': 1.55},
 {'date': '2022.06.07', 'RATE': 1.47},
 {'date': '2022.06.03', 'RATE': 1.64},
 {'date': '2022.06.02', 'RATE': 1.7},
 {'date': '2022.05.31', 'RATE': 1.86},
 {'date': '2022.05.30', 'RATE': 1.73},
 {'date': '2022.05.27', 'RATE': 1.75},
 {'date': '2022.05.26', 'RATE': 1.68},
 {'date': '2022.05.25', 'RATE': 1.5},
 {'date': '2022.05.24', 'RATE': 1.49},
 {'date': '2022.05.23', 'RATE': 1.51},
 {'date': '2022.05.20', 'RATE': 1.52},
 {'date': '2022.05.19', 'RATE': 1.5},
 {'date': '2022.05.18', 'RATE': 1.49},
 {'date': '2022.05.17', 'RATE': 1.47},
 {'date': '2022.05.16', 'RATE': 1.45},
 {'date': '2022.05.13', 'RATE': 1.39},
 {'date': '2022.05.12', 'RATE': 1.42},
 {'date': '2022.05.11', 'RATE': 1.47},
 {'date': '2022.05.10', 'RATE': 1.35},
 {'date': '2022.05.09', 'RATE': 1.34},
 {'date': '2022.05.06', 'RATE': 1.41},
 {'date': '2022.05.04', 'RATE': 1.44},
 {'date': '2022.05.03', 'RATE': 1.44},
 {'date': '2022.05.02', 'RATE': 1.45},
 {'date': '2022.04.29', 'RATE': 1.53},
 {'date': '2022.04.28', 'RATE': 1.34},
 {'date': '2022.04.27', 'RATE': 1.35},
 {'date': '2022.04.26', 'RATE': 1.38},
 {'date': '2022.04.25', 'RATE': 1.41},
 {'date': '2022.04.22', 'RATE': 1.44},
 {'date': '2022.04.21', 'RATE': 1.39},
 {'date': '2022.04.20', 'RATE': 1.37},
 {'date': '2022.04.19', 'RATE': 1.39},
 {'date': '2022.04.18', 'RATE': 1.39},
 {'date': '2022.04.15', 'RATE': 1.43},
 {'date': '2022.04.14', 'RATE': 1.33},
 {'date': '2022.04.13', 'RATE': 1.14},
 {'date': '2022.04.12', 'RATE': 1.18},
 {'date': '2022.04.11', 'RATE': 1.16},
 {'date': '2022.04.08', 'RATE': 1.15},
 {'date': '2022.04.07', 'RATE': 1.17},
 {'date': '2022.04.06', 'RATE': 1.24},
 {'date': '2022.04.05', 'RATE': 1.28},
 {'date': '2022.04.04', 'RATE': 1.25},
 {'date': '2022.04.01', 'RATE': 1.23},
 {'date': '2022.03.31', 'RATE': 1.45},
 {'date': '2022.03.30', 'RATE': 1.22},
 {'date': '2022.03.29', 'RATE': 1.21},
 {'date': '2022.03.28', 'RATE': 1.2},
 {'date': '2022.03.25', 'RATE': 1.24},
 {'date': '2022.03.24', 'RATE': 1.18},
 {'date': '2022.03.23', 'RATE': 1.12},
 {'date': '2022.03.22', 'RATE': 1.21},
 {'date': '2022.03.21', 'RATE': 1.21},
 {'date': '2022.03.18', 'RATE': 1.23},
 {'date': '2022.03.17', 'RATE': 1.24},
 {'date': '2022.03.16', 'RATE': 1.24},
 {'date': '2022.03.15', 'RATE': 1.24},
 {'date': '2022.03.14', 'RATE': 1.26},
 {'date': '2022.03.11', 'RATE': 1.31},
 {'date': '2022.03.10', 'RATE': 1.31},
 {'date': '2022.03.08', 'RATE': 1.24},
 {'date': '2022.03.07', 'RATE': 1.22},
 {'date': '2022.03.04', 'RATE': 1.19},
 {'date': '2022.03.03', 'RATE': 1.24},
 {'date': '2022.03.02', 'RATE': 1.28},
 {'date': '2022.02.28', 'RATE': 1.39},
 {'date': '2022.02.25', 'RATE': 1.28},
 {'date': '2022.02.24', 'RATE': 1.25},
 {'date': '2022.02.23', 'RATE': 1.24},
 {'date': '2022.02.22', 'RATE': 1.25},
 {'date': '2022.02.21', 'RATE': 1.24},
 {'date': '2022.02.18', 'RATE': 1.23},
 {'date': '2022.02.17', 'RATE': 1.22},
 {'date': '2022.02.16', 'RATE': 1.19},
 {'date': '2022.02.15', 'RATE': 1.19},
 {'date': '2022.02.14', 'RATE': 1.25},
 {'date': '2022.02.11', 'RATE': 1.19},
 {'date': '2022.02.10', 'RATE': 1.18},
 {'date': '2022.02.09', 'RATE': 1.22},
 {'date': '2022.02.08', 'RATE': 1.21},
 {'date': '2022.02.07', 'RATE': 1.11},
 {'date': '2022.02.04', 'RATE': 1.17},
 {'date': '2022.02.03', 'RATE': 1.22},
 {'date': '2022.01.28', 'RATE': 1.27},
 {'date': '2022.01.27', 'RATE': 1.2},
 {'date': '2022.01.26', 'RATE': 1.26},
 {'date': '2022.01.25', 'RATE': 1.31},
 {'date': '2022.01.24', 'RATE': 1.35},
 {'date': '2022.01.21', 'RATE': 1.57},
 {'date': '2022.01.20', 'RATE': 1.33},
 {'date': '2022.01.19', 'RATE': 1.27},
 {'date': '2022.01.18', 'RATE': 1.27},
 {'date': '2022.01.17', 'RATE': 1.25},
 {'date': '2022.01.14', 'RATE': 1.27},
 {'date': '2022.01.13', 'RATE': 1.03},
 {'date': '2022.01.12', 'RATE': 1.01},
 {'date': '2022.01.11', 'RATE': 1.0},
 {'date': '2022.01.10', 'RATE': 1.06},
 {'date': '2022.01.07', 'RATE': 1.0},
 {'date': '2022.01.06', 'RATE': 1.0},
 {'date': '2022.01.05', 'RATE': 0.98},
 {'date': '2022.01.04', 'RATE': 1.0},
 {'date': '2022.01.03', 'RATE': 1.0},
 {'date': '2021.12.31', 'RATE': 1.43},
 {'date': '2021.12.30', 'RATE': 1.11},
 {'date': '2021.12.29', 'RATE': 1.03},
 {'date': '2021.12.28', 'RATE': 1.03},
 {'date': '2021.12.27', 'RATE': 1.02},
 {'date': '2021.12.24', 'RATE': 1.01},
 {'date': '2021.12.23', 'RATE': 0.99},
 {'date': '2021.12.22', 'RATE': 0.98},
 {'date': '2021.12.21', 'RATE': 1.0},
 {'date': '2021.12.20', 'RATE': 0.98},
 {'date': '2021.12.17', 'RATE': 0.98},
 {'date': '2021.12.16', 'RATE': 0.99},
 {'date': '2021.12.15', 'RATE': 1.0},
 {'date': '2021.12.14', 'RATE': 1.0},
 {'date': '2021.12.13', 'RATE': 1.01},
 {'date': '2021.12.10', 'RATE': 1.03},
 {'date': '2021.12.09', 'RATE': 1.07},
 {'date': '2021.12.08', 'RATE': 0.98},
 {'date': '2021.12.07', 'RATE': 1.01},
 {'date': '2021.12.06', 'RATE': 0.96},
 {'date': '2021.12.03', 'RATE': 0.95},
 {'date': '2021.12.02', 'RATE': 0.97},
 {'date': '2021.12.01', 'RATE': 0.98},
 {'date': '2021.11.30', 'RATE': 1.06},
 {'date': '2021.11.29', 'RATE': 1.01},
 {'date': '2021.11.26', 'RATE': 1.01},
 {'date': '2021.11.25', 'RATE': 1.01},
 {'date': '2021.11.24', 'RATE': 0.74},
 {'date': '2021.11.23', 'RATE': 0.74},
 {'date': '2021.11.22', 'RATE': 0.76},
 {'date': '2021.11.19', 'RATE': 0.75},
 {'date': '2021.11.18', 'RATE': 0.76},
 {'date': '2021.11.17', 'RATE': 0.77},
 {'date': '2021.11.16', 'RATE': 0.8},
 {'date': '2021.11.15', 'RATE': 0.82},
 {'date': '2021.11.12', 'RATE': 0.83},
 {'date': '2021.11.11', 'RATE': 0.84},
 {'date': '2021.11.10', 'RATE': 0.76},
 {'date': '2021.11.09', 'RATE': 0.8},
 {'date': '2021.11.08', 'RATE': 0.78},
 {'date': '2021.11.05', 'RATE': 0.76},
 {'date': '2021.11.04', 'RATE': 0.7},
 {'date': '2021.11.03', 'RATE': 0.68},
 {'date': '2021.11.02', 'RATE': 0.72},
 {'date': '2021.11.01', 'RATE': 0.74},
 {'date': '2021.10.29', 'RATE': 0.76},
 {'date': '2021.10.28', 'RATE': 0.78},
 {'date': '2021.10.27', 'RATE': 0.75},
 {'date': '2021.10.26', 'RATE': 0.77},
 {'date': '2021.10.25', 'RATE': 0.76},
 {'date': '2021.10.22', 'RATE': 0.75},
 {'date': '2021.10.21', 'RATE': 0.76},
 {'date': '2021.10.20', 'RATE': 0.73},
 {'date': '2021.10.19', 'RATE': 0.73},
 {'date': '2021.10.18', 'RATE': 0.72},
 {'date': '2021.10.15', 'RATE': 0.74},
 {'date': '2021.10.14', 'RATE': 0.75},
 {'date': '2021.10.13', 'RATE': 0.8},
 {'date': '2021.10.12', 'RATE': 0.8},
 {'date': '2021.10.08', 'RATE': 0.69},
 {'date': '2021.10.07', 'RATE': 0.67},
 {'date': '2021.10.06', 'RATE': 0.73},
 {'date': '2021.10.05', 'RATE': 0.69},
 {'date': '2021.10.01', 'RATE': 0.71},
 {'date': '2021.09.30', 'RATE': 0.92},
 {'date': '2021.09.29', 'RATE': 0.73},
 {'date': '2021.09.28', 'RATE': 0.76},
 {'date': '2021.09.27', 'RATE': 0.72},
 {'date': '2021.09.24', 'RATE': 0.75},
 {'date': '2021.09.23', 'RATE': 0.75},
 {'date': '2021.09.17', 'RATE': 0.77},
 {'date': '2021.09.16', 'RATE': 0.75},
 {'date': '2021.09.15', 'RATE': 0.76},
 {'date': '2021.09.14', 'RATE': 0.78},
 {'date': '2021.09.13', 'RATE': 0.86},
 {'date': '2021.09.10', 'RATE': 0.88},
 {'date': '2021.09.09', 'RATE': 0.76},
 {'date': '2021.09.08', 'RATE': 0.74},
 {'date': '2021.09.07', 'RATE': 0.75},
 {'date': '2021.09.06', 'RATE': 0.75},
 {'date': '2021.09.03', 'RATE': 0.75},
 {'date': '2021.09.02', 'RATE': 0.76},
 {'date': '2021.09.01', 'RATE': 0.83},
 {'date': '2021.08.31', 'RATE': 0.9},
 {'date': '2021.08.30', 'RATE': 0.86},
 {'date': '2021.08.27', 'RATE': 0.86},
 {'date': '2021.08.26', 'RATE': 0.84},
 {'date': '2021.08.25', 'RATE': 0.57},
 {'date': '2021.08.24', 'RATE': 0.55},
 {'date': '2021.08.23', 'RATE': 0.51},
 {'date': '2021.08.20', 'RATE': 0.5},
 {'date': '2021.08.19', 'RATE': 0.51},
 {'date': '2021.08.18', 'RATE': 0.5},
 {'date': '2021.08.17', 'RATE': 0.51},
 {'date': '2021.08.13', 'RATE': 0.54},
 {'date': '2021.08.12', 'RATE': 0.56},
 {'date': '2021.08.11', 'RATE': 0.49},
 {'date': '2021.08.10', 'RATE': 0.51},
 {'date': '2021.08.09', 'RATE': 0.5},
 {'date': '2021.08.06', 'RATE': 0.48},
 {'date': '2021.08.05', 'RATE': 0.5},
 {'date': '2021.08.04', 'RATE': 0.51},
 {'date': '2021.08.03', 'RATE': 0.49},
 {'date': '2021.08.02', 'RATE': 0.44},
 {'date': '2021.07.30', 'RATE': 0.58},
 {'date': '2021.07.29', 'RATE': 0.51},
 {'date': '2021.07.28', 'RATE': 0.51},
 {'date': '2021.07.27', 'RATE': 0.57},
 {'date': '2021.07.26', 'RATE': 0.57},
 {'date': '2021.07.23', 'RATE': 0.55},
 {'date': '2021.07.22', 'RATE': 0.52},
 {'date': '2021.07.21', 'RATE': 0.5},
 {'date': '2021.07.20', 'RATE': 0.51},
 {'date': '2021.07.19', 'RATE': 0.54},
 {'date': '2021.07.16', 'RATE': 0.56},
 {'date': '2021.07.15', 'RATE': 0.59},
 {'date': '2021.07.14', 'RATE': 0.59},
 {'date': '2021.07.13', 'RATE': 0.58},
 {'date': '2021.07.12', 'RATE': 0.52},
 {'date': '2021.07.09', 'RATE': 0.52},
 {'date': '2021.07.08', 'RATE': 0.51},
 {'date': '2021.07.07', 'RATE': 0.48},
 {'date': '2021.07.06', 'RATE': 0.4},
 {'date': '2021.07.05', 'RATE': 0.47},
 {'date': '2021.07.02', 'RATE': 0.51},
 {'date': '2021.07.01', 'RATE': 0.53},
 {'date': '2021.06.30', 'RATE': 0.63},
 {'date': '2021.06.29', 'RATE': 0.58},
 {'date': '2021.06.28', 'RATE': 0.59},
 {'date': '2021.06.25', 'RATE': 0.57},
 {'date': '2021.06.24', 'RATE': 0.53},
 {'date': '2021.06.23', 'RATE': 0.53},
 {'date': '2021.06.22', 'RATE': 0.56},
 {'date': '2021.06.21', 'RATE': 0.56},
 {'date': '2021.06.18', 'RATE': 0.51},
 {'date': '2021.06.17', 'RATE': 0.48},
 {'date': '2021.06.16', 'RATE': 0.47},
 {'date': '2021.06.15', 'RATE': 0.47},
 {'date': '2021.06.14', 'RATE': 0.47},
 {'date': '2021.06.11', 'RATE': 0.5},
 {'date': '2021.06.10', 'RATE': 0.49},
 {'date': '2021.06.09', 'RATE': 0.48},
 {'date': '2021.06.08', 'RATE': 0.45},
 {'date': '2021.06.07', 'RATE': 0.46},
 {'date': '2021.06.04', 'RATE': 0.48},
 {'date': '2021.06.03', 'RATE': 0.46},
 {'date': '2021.06.02', 'RATE': 0.47},
 {'date': '2021.06.01', 'RATE': 0.49},
 {'date': '2021.05.31', 'RATE': 0.51},
 {'date': '2021.05.28', 'RATE': 0.48},
 {'date': '2021.05.27', 'RATE': 0.43},
 {'date': '2021.05.26', 'RATE': 0.49},
 {'date': '2021.05.25', 'RATE': 0.47},
 {'date': '2021.05.24', 'RATE': 0.48},
 {'date': '2021.05.21', 'RATE': 0.5},
 {'date': '2021.05.20', 'RATE': 0.49},
 {'date': '2021.05.18', 'RATE': 0.48},
 {'date': '2021.05.17', 'RATE': 0.48},
 {'date': '2021.05.14', 'RATE': 0.49},
 {'date': '2021.05.13', 'RATE': 0.46},
 {'date': '2021.05.12', 'RATE': 0.47},
 {'date': '2021.05.11', 'RATE': 0.47},
 {'date': '2021.05.10', 'RATE': 0.47},
 {'date': '2021.05.07', 'RATE': 0.47},
 {'date': '2021.05.06', 'RATE': 0.47},
 {'date': '2021.05.04', 'RATE': 0.49},
 {'date': '2021.05.03', 'RATE': 0.42},
 {'date': '2021.04.30', 'RATE': 0.49},
 {'date': '2021.04.29', 'RATE': 0.48},
 {'date': '2021.04.28', 'RATE': 0.48},
 {'date': '2021.04.27', 'RATE': 0.47},
 {'date': '2021.04.26', 'RATE': 0.47},
 {'date': '2021.04.23', 'RATE': 0.5},
 {'date': '2021.04.22', 'RATE': 0.49},
 {'date': '2021.04.21', 'RATE': 0.48},
 {'date': '2021.04.20', 'RATE': 0.47},
 {'date': '2021.04.19', 'RATE': 0.49},
 {'date': '2021.04.16', 'RATE': 0.48},
 {'date': '2021.04.15', 'RATE': 0.48},
 {'date': '2021.04.14', 'RATE': 0.48},
 {'date': '2021.04.13', 'RATE': 0.52},
 {'date': '2021.04.12', 'RATE': 0.53},
 {'date': '2021.04.09', 'RATE': 0.49},
 {'date': '2021.04.08', 'RATE': 0.46},
 {'date': '2021.04.07', 'RATE': 0.48},
 {'date': '2021.04.06', 'RATE': 0.46},
 {'date': '2021.04.05', 'RATE': 0.45},
 {'date': '2021.04.02', 'RATE': 0.44},
 {'date': '2021.04.01', 'RATE': 0.45},
 {'date': '2021.03.31', 'RATE': 0.59},
 {'date': '2021.03.30', 'RATE': 0.49},
 {'date': '2021.03.29', 'RATE': 0.47},
 {'date': '2021.03.26', 'RATE': 0.48},
 {'date': '2021.03.25', 'RATE': 0.51},
 {'date': '2021.03.24', 'RATE': 0.47},
 {'date': '2021.03.23', 'RATE': 0.49},
 {'date': '2021.03.22', 'RATE': 0.47},
 {'date': '2021.03.19', 'RATE': 0.47},
 {'date': '2021.03.18', 'RATE': 0.48},
 {'date': '2021.03.17', 'RATE': 0.46},
 {'date': '2021.03.16', 'RATE': 0.47},
 {'date': '2021.03.15', 'RATE': 0.51},
 {'date': '2021.03.12', 'RATE': 0.53},
 {'date': '2021.03.11', 'RATE': 0.5},
 {'date': '2021.03.10', 'RATE': 0.49},
 {'date': '2021.03.09', 'RATE': 0.52},
 {'date': '2021.03.08', 'RATE': 0.48},
 {'date': '2021.03.05', 'RATE': 0.47},
 {'date': '2021.03.04', 'RATE': 0.45},
 {'date': '2021.03.03', 'RATE': 0.47},
 {'date': '2021.03.02', 'RATE': 0.47},
 {'date': '2021.02.26', 'RATE': 0.59},
 {'date': '2021.02.25', 'RATE': 0.52},
 {'date': '2021.02.24', 'RATE': 0.5},
 {'date': '2021.02.23', 'RATE': 0.49},
 {'date': '2021.02.22', 'RATE': 0.5},
 {'date': '2021.02.19', 'RATE': 0.51},
 {'date': '2021.02.18', 'RATE': 0.49},
 {'date': '2021.02.17', 'RATE': 0.47},
 {'date': '2021.02.16', 'RATE': 0.5},
 {'date': '2021.02.15', 'RATE': 0.49},
 {'date': '2021.02.10', 'RATE': 0.49},
 {'date': '2021.02.09', 'RATE': 0.49},
 {'date': '2021.02.08', 'RATE': 0.48},
 {'date': '2021.02.05', 'RATE': 0.46},
 {'date': '2021.02.04', 'RATE': 0.47},
 {'date': '2021.02.03', 'RATE': 0.45},
 {'date': '2021.02.02', 'RATE': 0.47},
 {'date': '2021.02.01', 'RATE': 0.49},
 {'date': '2021.01.29', 'RATE': 0.52},
 {'date': '2021.01.28', 'RATE': 0.46},
 {'date': '2021.01.27', 'RATE': 0.45},
 {'date': '2021.01.26', 'RATE': 0.51},
 {'date': '2021.01.25', 'RATE': 0.48},
 {'date': '2021.01.22', 'RATE': 0.49},
 {'date': '2021.01.21', 'RATE': 0.48},
 {'date': '2021.01.20', 'RATE': 0.48},
 {'date': '2021.01.19', 'RATE': 0.48},
 {'date': '2021.01.18', 'RATE': 0.51},
 {'date': '2021.01.15', 'RATE': 0.5},
 {'date': '2021.01.14', 'RATE': 0.49},
 {'date': '2021.01.13', 'RATE': 0.49},
 {'date': '2021.01.12', 'RATE': 0.48},
 {'date': '2021.01.11', 'RATE': 0.51},
 {'date': '2021.01.08', 'RATE': 0.48},
 {'date': '2021.01.07', 'RATE': 0.49},
 {'date': '2021.01.06', 'RATE': 0.48},
 {'date': '2021.01.05', 'RATE': 0.48},
 {'date': '2021.01.04', 'RATE': 0.53},
 {'date': '2020.12.31', 'RATE': 0.61},
 {'date': '2020.12.30', 'RATE': 0.57},
 {'date': '2020.12.29', 'RATE': 0.54},
 {'date': '2020.12.28', 'RATE': 0.55},
 {'date': '2020.12.24', 'RATE': 0.55},
 {'date': '2020.12.23', 'RATE': 0.56},
 {'date': '2020.12.22', 'RATE': 0.52},
 {'date': '2020.12.21', 'RATE': 0.51},
 {'date': '2020.12.18', 'RATE': 0.48},
 {'date': '2020.12.17', 'RATE': 0.48},
 {'date': '2020.12.16', 'RATE': 0.49},
 {'date': '2020.12.15', 'RATE': 0.49},
 {'date': '2020.12.14', 'RATE': 0.5},
 {'date': '2020.12.11', 'RATE': 0.5},
 {'date': '2020.12.10', 'RATE': 0.49},
 {'date': '2020.12.09', 'RATE': 0.48},
 {'date': '2020.12.08', 'RATE': 0.45},
 {'date': '2020.12.07', 'RATE': 0.46},
 {'date': '2020.12.04', 'RATE': 0.48},
 {'date': '2020.12.03', 'RATE': 0.48},
 {'date': '2020.12.02', 'RATE': 0.48},
 {'date': '2020.12.01', 'RATE': 0.51},
 {'date': '2020.11.30', 'RATE': 0.6},
 {'date': '2020.11.27', 'RATE': 0.52},
 {'date': '2020.11.26', 'RATE': 0.53},
 {'date': '2020.11.25', 'RATE': 0.51},
 {'date': '2020.11.24', 'RATE': 0.52},
 {'date': '2020.11.23', 'RATE': 0.51},
 {'date': '2020.11.20', 'RATE': 0.49},
 {'date': '2020.11.19', 'RATE': 0.49},
 {'date': '2020.11.18', 'RATE': 0.48},
 {'date': '2020.11.17', 'RATE': 0.49},
 {'date': '2020.11.16', 'RATE': 0.48},
 {'date': '2020.11.13', 'RATE': 0.48},
 {'date': '2020.11.12', 'RATE': 0.48},
 {'date': '2020.11.11', 'RATE': 0.48},
 {'date': '2020.11.10', 'RATE': 0.49},
 {'date': '2020.11.09', 'RATE': 0.5},
 {'date': '2020.11.06', 'RATE': 0.51},
 {'date': '2020.11.05', 'RATE': 0.46},
 {'date': '2020.11.04', 'RATE': 0.46},
 {'date': '2020.11.03', 'RATE': 0.47},
 {'date': '2020.11.02', 'RATE': 0.48},
 {'date': '2020.10.30', 'RATE': 0.52},
 {'date': '2020.10.29', 'RATE': 0.48},

In [27]:
pd_result2= pd.DataFrame(result_list)
pd_result2.date= pd_result2.date.astype('datetime64')

In [28]:
# 원하는 전체 date range
idx2= pd.date_range(pd_result2.date.min(), pd_result2.date.max())
idx2= pd.Series(idx2)

In [29]:
# 없는 행에 Nan을 넣어 병합한 후 Nan값을 이전 값으로 메꾸기
callrate= pd.concat([pd.DataFrame({'date': idx2[~idx2.isin(pd_result2.date)], 'RATE': np.nan}),pd_result2]).sort_values('date').reset_index(drop=True).ffill(axis=0)

In [30]:
callrate

           date  RATE
0    2005-05-09  3.29
1    2005-05-10  3.30
2    2005-05-11  3.30
3    2005-05-12  3.30
4    2005-05-13  3.29
...         ...   ...
6403 2022-11-19  3.02
6404 2022-11-20  3.02
6405 2022-11-21  3.04
6406 2022-11-22  3.07
6407 2022-11-23  3.08

[6408 rows x 2 columns]

In [31]:
callrate = callrate.merge(callrate.assign(date = callrate.date+pd.Timedelta(days=31)), 
               on='date',
               how='left', suffixes=['', '_30days_ago'])

In [32]:
callrate.dropna(inplace=True)

In [33]:
callrate

           date  RATE  RATE_30days_ago
31   2005-06-09  3.28             3.29
32   2005-06-10  3.29             3.30
33   2005-06-11  3.29             3.30
34   2005-06-12  3.29             3.30
35   2005-06-13  3.28             3.29
...         ...   ...              ...
6403 2022-11-19  3.02             3.07
6404 2022-11-20  3.02             3.13
6405 2022-11-21  3.04             3.10
6406 2022-11-22  3.07             3.10
6407 2022-11-23  3.08             3.10

[6377 rows x 3 columns]

In [34]:
# calc_rate_change(callrate)

In [35]:
callrate['change'] = np.select(
    condlist=[
        (callrate.RATE > callrate.RATE_30days_ago), 
        (callrate.RATE == callrate.RATE_30days_ago),
    ], 
    choicelist=[
        'up',
        'same',
    ],
    default='down'
)

In [36]:
callrate

           date  RATE  RATE_30days_ago change
31   2005-06-09  3.28             3.29   down
32   2005-06-10  3.29             3.30   down
33   2005-06-11  3.29             3.30   down
34   2005-06-12  3.29             3.30   down
35   2005-06-13  3.28             3.29   down
...         ...   ...              ...    ...
6403 2022-11-19  3.02             3.07   down
6404 2022-11-20  3.02             3.13   down
6405 2022-11-21  3.04             3.10   down
6406 2022-11-22  3.07             3.10   down
6407 2022-11-23  3.08             3.10   down

[6377 rows x 4 columns]

In [37]:
callrate.to_csv('./callrate.csv',  index=False)

In [38]:
from nltk.tokenize import word_tokenize
from nltk import FreqDist
a=nltk
fdist = nltk.FreqDist(merge_file) #up_ngram_list, down_ngram_list
count_df = pd.DataFrame(list(zip(fdist.keys(), fdist.values())).set_index(0))

c:\Users\rlawp\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

NameError: name 'nltk' is not defined